{% extends "public.html" %} {% block page %}
<div class="row q-col-gutter-md justify-center">
  <div class="col-12 col-md-7 col-lg-6 q-gutter-y-md">
    <q-card class="q-pa-lg">
      <q-card-section class="q-pa-md">
        <div class="text-h6">AI Proxy</div>
        <div class="text-subtitle2">User details</div>
      </q-card-section>
      <q-card-section>
        <div class="row">
          {% raw %}
          <div class="col-12 col-sm-4">
            <div class="text-h6">Your ID</div>
            <div class="text-subtitle2">{{ user.id }}</div>
          </div>
          <div class="col-12 col-sm-4">
            <div class="text-h6">Uses Left</div>
            <div class="text-subtitle2">{{ user.uses }}</div>
          </div>
          <div class="col-12 col-sm-4">
            <div class="text-h6">Link</div>
            <div class="text-subtitle2">
              <a :href="linkUrl" target="_blank" rel="noopener noreferrer"
                >{{ user.link }}</a
              >
            </div>
          </div>
          {% endraw %}
        </div>
      </q-card-section>
    </q-card>
  </div>
</div>

{% endblock %}{% block scripts %}
<script>
  Vue.component(VueQrcode.name, VueQrcode)

  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        user: null
      }
    },
    created() {
      this.user = JSON.parse('{{ user | tojson}}')
    },
    computed: {
      linkUrl() {
        return `/aiproxy/pay/${this.user.link}`
      }
    },
    methods: {
      ping() {
        console.log('ping')
      }
    }
  })
</script>
{% endblock %}
